body {
  font-family: 'Heebo', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.brand-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.main-header {
  background: url('../images/bg-header.jpg') no-repeat center center;
  background-size: cover;
  color: white;
  min-height: 500px;
}

.main-header .showcase {
  padding-top: 30px;
}

.nav-wrapper li a,
.btn {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.active-link {
  color: #ce93d8;
}

.section-developers {
  position: relative;
  background: url(../images/developers.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  height: auto;
  padding: 70px 0;
}

.primary-overlay {
  background: rgba(112, 81, 176, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.above-overlay {
  z-index: 10;
  position: relative;
}

.divider {
  display: block;
  width: 100px;
  height: 5px;
  margin: 30px 0;
}

.center .divider {
  margin: 30px auto;
}

.section-testimonials .card p {
  margin-bottom: 20px;
}

.section-testimonials .card img {
  max-width: 50px;
  margin-bottom: 20px;
}
